.search-container {
    position: relative;
    margin-right: 0.5rem;
}

.auto-complete-container {
    position: absolute;
    max-height: 500%;
    overflow-y: scroll;
}

.search button {
    background-color: var(--primary-trans);
    color: var(--secondary-color);
}