.search-container {
    position: relative;
    margin-right: 1.5rem;
}

.auto-complete-container {
    position: absolute;
    max-height: 500%;
    overflow-y: scroll;
}

.search button {
    background-color: var(--primary-trans);
    color: var(--secondary-color);
    border: 1px solid rgb(94, 50, 50) var(--primary-color) var(--primary-color) rgb(94, 50, 50);
}

.search input {
    margin-right: 2px;
    border-color: var(--primary-trans);
    outline: none;
}

@media screen and (max-width: 650px) {
    .auto-complete-container {
        max-height: 80vh;
    }
}