header {
    position: fixed;
    z-index: 10;
    top: 0;
    height: 8vh;
    width: 100vw;
    background-image: linear-gradient(to top right, rgba(65, 65, 57, 0.4), beige, rgba(65, 65, 57, 0.7));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.logo {
    width: 4.5vh;
}

.links {
    width: 45%;
}

a.link {
    height: 4rem;
    margin: 0.5rem 5% 0.5rem 0;
    color: var(--primary-color);
    font-weight: 700;
    position: relative;
}

.link::before,
.link::after {
	position: absolute;
	height: 1px;
	width: 100%;
	content: "";
	background-color: var(--primary-color);
    transition: all 0.5s;
}

.link::before {
    top: -0.5rem;
    transform: translateX(-50%) scale(0);
}

.link::after {
    bottom: -0.5rem;
    left: 0;
    transform: translateX(50%) scale(0);
}

.link:hover::before,
.link:hover::after {
    transform: translateX(0);
}

.link:hover {
    color: var(--primary-color);

}

@media screen and (max-width: 450px) {
    header {
        padding: 0 5%;
    }
}