.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navigation__buttons {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.navigation__buttons a {
    flex-basis: 8rem;
    flex-grow: 1;
    flex-shrink: 0;
}

.navigation__buttons button {
    width: 100%;
}