.item-container{
    width: 70%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    position: relative;
}

.backdropImg {
    width: 100%;
}

.item__card {
    position: absolute;
    top: 29rem;
    width: 100%;
    padding: 0.5rem;
    color: var(--background-color);
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.item__tagline {
    color: var(--primary-color);
    font-size: var(--heading-secondary);
    margin: 1rem;
}

.item__overview {
    font-size: var(--heading-tertiary);
    margin: 1rem 2rem;
}