.item-container{
    width: 70%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.backdropImg {
    width: 100%;
    margin-top: 1rem;
}

.item__backdrop {
    position: relative;
    height: 38vw;
    margin-bottom: 5vw;
}

.item__card {
    position: absolute;
    top: 16vw;
    width: 80%;
    padding: 0.5rem;
    color: beige;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-image: linear-gradient(to right, rgba(65, 65, 57, 1), rgba(65, 65, 57,0));
    z-index: 2;
}

.item__tagline {
    width: 80%;
    color: var(--primary-color);
    font-size: var(--heading-secondary);
    margin: 1rem 2rem;
}

.item__overview {
    width: 56%;
    font-size: var(--heading-tertiary);
    margin: 1rem 3vh;
}

.item__trailer {
    position: absolute;
    text-align: right;
    top: 16vw;
    right: 5vw;
    z-index: 1;
}

.posterImg {
    width: 20vw;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}