@import './styles/base.css';
@import './styles/typograghy.css';
@import './styles/variables.css';

body {
  height: 92vh;
    background: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:hover {
  color: var(--primary-color);
}

a:hover {
  font-weight: 600;
}

.loading-spinner {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  width: 100%;
}

.content-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
}
