@import './styles/base.css';
@import './styles/typograghy.css';
@import './styles/variables.css';
@import './styles/animations.css';

body {
  width: 100vw;
  height: 92vh;
    background: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

