.ham-icon {
    display: flex;
	align-items: center;
	height: 5vh;
    width: 5vh;
    position: relative;
}

.ham_slice {
    position: relative;
    /* transition: all 0.2s; */
}

.ham_slice::before,
.ham_slice::after {
    content:"";
    position: absolute;
}

.ham_slice::before {
    top: -1.5vh;
}

.ham_slice::after {
    top: 1.5vh;
}

.ham_slice,
.ham_slice::before,
.ham_slice::after {
	height: 0.3rem;
	width: 100%;
	background-color: var(--primary-color);
}

.ham-icon.clicked .ham_slice{
    background: transparent;
}

.ham-icon.clicked .ham_slice::before, .ham-icon.clicked .ham_slice::after {
    background: var(--primary-color);
    top: 0;
}

.ham-icon.clicked .ham_slice::before {
    transform: rotate(-135deg);
} 

.ham-icon.clicked .ham_slice::after {
    transform: rotate(135deg);
}

.side-menu {
    position: absolute;
    top: 8vh;
    right: -85vw;
    width: 85vw;
    height: 92vh;
    transition: all 0.5s;
    padding: 0;
}

.side-menu.show {
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.hamburger__links {
    border-radius: 2px;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 220, 0.8);
    margin: 0 5px;
    /* mix-blend-mode: luminosity; */
}

.hamburger__link {
    width: 100%;
    margin: 10% 0.5rem;
    color: var(--primary-color);
    font-weight: 600;
}

.search {
    display: flex;
    justify-content: space-around;
}
