.ham-icon {
    display: flex;
	align-items: center;
	height: 2rem;
    width: 2rem;
    position: relative;
}

.ham_slice {
    position: relative;
    /* transition: all 0.2s; */
}

.ham_slice::before,
.ham_slice::after {
    content:"";
    position: absolute;
}

.ham_slice::before {
    top: -0.7rem;
}

.ham_slice::after {
    top: 0.7rem;
}

.ham_slice,
.ham_slice::before,
.ham_slice::after {
	height: 2px;
	width: 100%;
	background-color: var(--primary-color);
}

.ham-icon.clicked .ham_slice{
    background: transparent;
}

.ham-icon.clicked .ham_slice::before, .ham-icon.clicked .ham_slice::after {
    background: var(--primary-color);
    top: 0;
}

.ham-icon.clicked .ham_slice::before {
    transform: rotate(-135deg);
} 

.ham-icon.clicked .ham_slice::after {
    transform: rotate(135deg);
}

.side-menu {
    position: absolute;
    top: 5rem;
    right: -25rem;
    width: 25rem;
    height: 92vh;
    transition: all 0.5s;
    padding: 0.5rem 0 0 0;
}

.side-menu.show {
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .hamburger__links {
    border-radius: 5px;
    height: 50%;
    display: table-column;
    background-color: var(--background-color);
    margin: 5rem;
    mix-blend-mode: luminosity;
} */