.card__title {
    font-size: var(--heading-tertiary);
    font-weight: 600;
    margin-bottom: 3px;
}

.card__data-line {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2px;
}

.card__genres, .card__languages {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 36%;
    height: 2.2rem;
    overflow: hidden;
}

.card__genres {
    justify-content: flex-end;
    margin-right: 0.5rem;
}

.card__runtime {
    flex-basis: 6.5rem;
    flex-grow: 0;
}

.card__languages {
    margin-left: 0.5rem;
}

.ratings {
    display: flex;
    justify-content: center;
}

.rating {
    margin: 0 5%;
}

.rating_img {
    width: 2.5rem;
}

.rating_img.imdb {
    /* width: 3rem; */
    /* height: 2.5rem; */
}
