.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.welcome {
    width: 100%;
    color: var(--primary-color);
    font-size: var(--heading-primary);
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin: 7rem 1rem 5rem 1rem;
    text-align: center;
} 

.welcome::before {
    content: "";
    color: var(--secondary-color);
    height: 2px;
    width: 8px;
}