header {
    height: 8vh;
    width: 100vw;
    background-image: linear-gradient(rgba(65, 65, 57, 0.1), beige);
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}