.carousel {
    width: 90%;
    display: flex;
    align-items: flex-end;
}

.carousel.cover {
    justify-content: center;
}

.carousel.packs {
    /* align-items: flex-end; */

}

.carousel_show_slide.cover {
    text-align: center;
    position: relative;
    display: inline-table;
}

.carousel_show_slide.packs {
    position: relative;
}

.carousel__slide_cover.auto {
    animation: slidemovenext 5s ease 0s;
    animation-iteration-count: 5;
}

.carousel__slide_packs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.carousel__card {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.carousel__card_img {
    width: 90%;
    /* height: 135%; */
}

.carousel__img_cover {
    box-sizing: border-box;
    margin-top: 2.5rem;
    width: 56vw;
    max-width: 780px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.carousel__title_cover {
    padding: 0 2rem;
    left: 50%;
    top: calc(2.5rem + 45%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    display: table-column;
}

.carousel__title_cover h2, .carousel__rate_cover {
    font-size: x-large;
}

.carousel__title_cover h1 {
    font-size: xx-large;
}

.carousel__title_cover, .carousel__rate_cover {
    position: absolute;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: luminosity;
}

.carousel__title_cover.auto, .carousel__rate_cover.auto {
    animation: appear 5s ease 0s;
    animation-iteration-count: 5;
}

.carousel__rate_cover {
    border-radius: 50%;
    padding: 1rem;
    bottom: 1rem;
    left: 0.5rem;
    height: 5.5rem;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__title_cover, .carousel__rate_cover {
    background-color: var(--background-color);
}

button.back_arrow, button.forward_arrow {
    cursor: pointer;
    color: var(--primary-trans);
    border: 1px solid var(--secondary-color);
    position: absolute;
    font-weight: 900;
    z-index: 0;
    transform: translateY(7%);
    width: 35%;
    height: 60%;
    min-width: 20px;
    box-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.5);
    top: calc(24.5% - 2.5rem);
}

button.arrow_back, button.arrow_forward {
    position: absolute;
    width: 3rem;
    height: 4rem;
    top: calc(2.5rem + 35%);
    border-radius: 5px;
    text-align: center;
    /* border: 1px solid var(--secondary-color); */
    color: var(--secondary-color);
    background-color: var(--primary-trans);
    outline: none;
}

button.arrow_back:hover, button.arrow_forward:hover {
    background-color: var(--active-color);
}

button.arrow_back.cover.auto, button.arrow_forward.cover.auto {
    opacity: 0;
}

button.arrow_back {
    right: calc(90% + 1.5rem);
}

button.arrow_forward {
    left: calc(90% + 1.5rem);
}

button.back_arrow {
    right: 101.3%;
    text-align: left;
}

button.forward_arrow {
    left: 101.5%;
    text-align: right;
}

button.forward_arrow.auto {
    animation: scaledown 5s ease 0s;
    animation-iteration-count: 5;
}

button.back_arrow:focus, button.forward_arrow:focus {
    outline: none;
    color: rgba(0, 0, 0, 0.9);
}

button.arrow_back.packs, button.arrow_forward.packs {
    position: absolute;
    /* width: 3rem; */
    /* height: 4rem; */
    top: calc(2.5rem + 35%);
}

button.arrow_back.packs {
    right: 101.3%;
}

button.arrow_forward.packs {
    left: 101.5%;
}

.dot-buttons {
    width: calc(5rem + 20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 1px 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dot-button {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.dot-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.dot-button.active {
    background-color: var(--active-color);
}

@keyframes slidemovenext {
    0% {transform: scale(0) translateX(500%); opacity: 0;}
    30% {transform: scale(1); opacity: 1;}
    65% {transform: scale(1); opacity: 1;}
    99% {transform: scale(0.7) translateX(-120%); opacity: 1;}
    100% {transform: scale(0.6) translateX(-250%); opacity: 0.2;}
}

@keyframes scaledown {
    0% {transform: scale(0.4) translateX(100%);}
    35% {transform: scale(1) translateX(0);}
    50% {transform: scale(1) translateX(0);}
    90% {transform: scale(0.2) translateX(-100%);}
    100% {transform: scale(0) translateX(-500%);}
}

@keyframes appear {
    0% {opacity: 0;}
    15% {opacity: 0;}
    50% {opacity: 1;}
    85% {opacity: 0;}
    100% {opacity: 0;}
}

@media screen and (max-width: 695px) {
    .carousel__title_cover h1, .carousel__rate_cover {
        font-size: x-large;
    }

    .carousel__rate_cover {
        height: 5rem;
        width: 5rem;
    }
}

@media screen and (max-width: 450px) {
    .carousel__title_cover {
        display: table-column-group;
        width: 78%;
        max-height: calc(100% - 3rem);
    }

    .carousel__rate_cover {
        font-size: larger;
    }
    
    .carousel__title_cover h2 {
        font-size: medium;
    }

    .carousel__rate_cover {
        height: 3.3rem;
        width: 3.3rem;
    }

    .carousel__img_cover {
        width: 100%;
    }

}

