.thumb {
    position: relative;
    height: 270px;
    width: 180px;
    margin: 25px 15px;
}

.thumb__poster {
    height: 100%;
    width: 100%;
}

.thumb__year, .thumb__rate, .thumb__title {
    position: absolute;
    color: teal;
    background-color: purple;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.thumb__year, .thumb__rate {
    top: 5px;
    border-radius: 5px;
    padding: 1.5px;
}

.thumb__year {
    left: 5px;
}

.thumb__rate {
    right: 5px;
}

.thumb__title {
    bottom: 0;
    left: 0;
    height: 23.5px;
    width: 100%;
    overflow: hidden;
    padding-top: 2px;
}