.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination-nav {
    display: flex;
    align-items: center;
}

.pages-bar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    margin: 1rem 0;
}

.page, .pagination-arrow {
    background-color: beige;
    color: var(--primary-color);
}

.page.active, .pagination-arrow:focus {
    outline: none;
}

.page.active, .first:focus, .last:focus {
    background-color: var(--active-color);
}

.page:hover, .pagination-arrow:hover {
    background-color: var(--background-color);
}

.pagination-arrow {
    height: 2.2rem;
}

.pagination-arrow:disabled {
    display: none;
}
